*{
    margin: 0;
    padding: 0;
}
ul{
    list-style:none;
}
body{
    font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
    font-size: 0.24rem;
    color: #333;
}
header{
    display:flex;
    height:1.01rem;
    background: #ffc000;

}
.header-city{
    width: 1.8rem;
    color:#222222;
    font-size: 0.28rem;
    font-family: PingFangSC-Medium;
    text-align: center;
    line-height: 1.01rem;
}
.header-search{
    
    width:3.62rem;
    height:0.64rem;
    opacity: 0.9;
    border-radius: 0.1rem;
    margin-top:0.2rem;
    line-height: 0.64rem;
    text-decoration: none;
    color:#999999;
    padding-left: 0.35rem;
    box-sizing: border-box;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    background: #FFFFFF url(image/99c29829cf1b85d5cdbc76a1bd0b7329814.png) 0 0.18rem  no-repeat;
    background-size:0.28rem 0.28rem;
}
.header-icon{
    display: block;
    width:.98rem;
    text-align: center;
    line-height: 1.01rem;
}
.banner-download {
    height: 1.04rem;
    background: #000000;
    position: relative;
    overflow: hidden;
}
.banner-item {
    display: flex;
    padding: 0.16rem 0 0.16rem 0.3rem;
    width: 3.35rem;
}
.banner-item .logo-theme {
    padding-left: 0.2rem;
    color: #fff;
}
.banner-item .img-box {
    display: block;
    width: 0.72rem;
    height: 0.72rem;
}
.to-app-btn{
    position: absolute;
    right: 0.29rem;
    top: 0.22rem;
    width: 1.1rem;
    height: 0.6rem;
    background-image: linear-gradient(135deg, #FFD000 0%, #FFBD00 100%);
    border-radius: 0.14rem;
    line-height: 0.6rem;
    text-align: center;
}
.list{
    display: flex;
    flex-wrap:wrap;
    border-bottom:1px solid #ddd8ce;
}
.list li{
    width:20%;
    height:1.62rem;
    padding:0.2rem 0;
    box-sizing: border-box;
    text-align: center;
}
.list span{
    margin:0 auto;
    width:.8rem;
    height:.8rem;
    border-radius:8.rem;
    display:block;
    line-height: .8rem;
    color:#fff;
    font-size: 0.34rem;
    font-weight: 900;

    
}
.list span.list1{
    background:  #ff6767;
}

.list span.list2{
    background: #fd9d21;
}
.list span.list3{
    background: #8a90fa;
}
.list p{
    color: #666;
    margin-top:0.14rem;
}
.like-box{
    margin-top:0.12rem;
    background: white;
    border-top: 1px solid #ddd8ce ;
    padding-left: 2rem;
}
.like-title{
    font-size: .34rem;
    color: #333;
    height: 0.83rem;
    line-height:normal;
}
.like-list-box li{
    border-top:1px solid #DDD8CE;
}
.like-list{
    display: flex;
    color: #666;
    text-decoration: none;
    padding:0.28rem 0.2rem 0.28rem 0;
}
.like-list img{
    width:1.8rem;
    margin-right:0.2rem;
}
.like-info{
    flex:1;
}
.info-title{
    font-size: 0.3rem;
    color:#333;
    margin-bottom: 0.12rem;
}
.info-desc{
    height: .68rem;
    overflow: hidden;
}
.info-price{
    font-size: .36rem;
    color: #F60;
}